.jumbotron.jumbotron-fluid{
    background-image: url(fotonuel.png);
    background-size: cover;
    height: 700px;
    background-position: center;
    text-align: center;
    margin-top: 55px; 
    margin-bottom: 0px;
}
.display-4{
    margin-top: 200px;
}
.lead{
    font-size:25px;
}
.my-4{
    border-color: black
}
.my-3{
    border-color: white
}
.fa-youtube{
    margin-left: 150px;
    margin-top: 250px;
}

.fa-instagram{
    margin-left: 150px;
    margin-top:10px;    
}

.fa-twitter-square{
    margin-left: 150px;
    margin-top:10px;
}

.fa-linkedin{
    margin-left: 150px;
    margin-top:10px;
}
.fa-facebook-square{
    margin-left: 150px;
    margin-top:10px;
}
.page-top4{
    background-image: url(contact.jpg);
    background-size: cover;
    height: fit-content;
    margin-top: 100px;
    

}

.page-top2{
    background-image: url(bgexpfix.jpeg);
    background-size: cover;
    height: fit-content;
    margin-top: 100px;
    

}

.page-top3{
    background-image: url(bgexp.jpeg);
    background-size: cover;
    height: fit-content;
    margin-top: 100px;
    

}

.fotonuelunyu{
    margin-top: 100px;
    margin-left: 75px;
    width: 400px;
    float: left;

}

.biodata{
    position: relative;
    -webkit-text-fill-color: white;
    top: 100px;
    left: 50px;
    bottom: 10px;

}

.biodatalis{
    position: relative;
    margin: 0px 0px 0px;
    opacity: 0.7;
    box-sizing: border-box;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif
}

.nama{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif
}

.alamatdom{
    margin-top: -30px;
    font-size: 30px;
    border: 2px;
    border-color: aliceblue
}

.grid ul{
    font-size: 30px;
    -webkit-text-fill-color: white;
    
}

.col-md-6 h1{
    -webkit-text-fill-color: white;
    text-align: center;
} 

.page-top5 img{
   position: relative;
   height: 250px;
   width: auto;
   margin-top: 180px;
   margin-left: 650px;
}

.page-top5 h1{
    text-align: center;
    -webkit-text-fill-color: white;co
}

.page-top5{
    background-image: url(bg5.jpeg);
}

@media only screen and (min-width: 480px){
    .fa-3x .fab .fa-youtube{ 
        font-size: 10px;
         }
    }
@media only screen and (min-width: 480px){  
    .fa-3x .fab .fa-instagram{
        font-size: 10px;
    }
}
@media only screen and (min-width: 480px){
    .fa-3x .fab .fa-twitter-square{
        font-size: 10px;
    }
}

@media only screen and (min-width: 480px){
    .fa-3x .fab .fa-linkedin{
        font-size: 10px;
    }
}
@media only screen and (min-width: 480px){
    .fa-3x .fab .fa-facebook-square{
        font-size: 10px;
    }
}